.navbar {
  background-color: #343a40;
  border-bottom: 2px solid #28a745;
  padding: 0.5rem 1rem;
  
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff !important;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

.navbar .me-auto {
  margin-right: auto;
}

.navbar .ms-auto {
  margin-left: auto;
}

.navbar-text {
  color: #fff;
  margin-left: 15px;
}
